.Dictionary h1 {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 7%);
  margin: 20px 0;
}

.Dictionary input {
  width: 300px;
  border-radius: 5px;
  padding: 6px 10px;
  color: black;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
